body {
  margin: 0;
  background-image: url("https://s7d2.scene7.com/is/image/TWCNews/7-1-20_nfl_logo_jpg");
  background-size: cover;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: 'Racing Sans One'
}

img {
  width: 100%;
  border-radius: 20px;
}

.img-wrapper:hover{
  opacity:1;
  cursor: pointer;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  opacity: .8;
}

.card {
  margin: 10px;
}

.details-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.details, .info-wrapper {
  background-color: black;
  border: 2px solid white;
  border-radius: 10%;
  padding: 8px;
  margin: 10px;
}

.-image-container {
  border-radius: 20%;
}

.player-image-container {
  border-radius: 20%;
}

main {
  display: flex;
  justify-content: center;
  align-items:center;
}

form {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  margin: 5px;
  width: 140%;
  background-color: rgb(80,220,200);
  border: 2px solid white;
}

.grid {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
