body {
    margin: 0;
    padding: 0;
    color: red;
    background-color: navy;
}

.container-grid {
    padding: 2em 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-gap: 1em;
    justify-content: center;
}